include LICENSE
include NOTICE
include hatchet/vis/package.json
include hatchet/vis/webpack.config.js
recursive-include hatchet/vis/scripts *
recursive-include hatchet/vis/static *
recursive-include hatchet/vis/templates *
recursive-include hatchet/vis/styles *
recursive-include hatchet/external/roundtrip *
